h1{
    color: dodgerblue;
}

.padre{
    margin: 5%;
    padding: 20px 20px 20px 20px;
    display: flex;
    
    
}

.card1{
    margin-right: 200px;
    
    height: 300px;
    width: 300px;
}

.card2{
    margin-left: 600px;
    
    color: brown;
    box-shadow: 20px;
    
    height: 300px;
    width: 300px;
}

span{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12vh; 
    color: salmon;
}