h1{
    color: dodgerblue;
    text-align: center;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.padre{
   
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    height: 80vh;
    
    
}

.card1{
    margin-right: 200px;
    height: 65vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #e0e0e0;
    padding: 30px;
    border-radius: 23px;
    gap: 1rem;
    transition: .5s ease;
    box-shadow: 17px 20px 12px #aaa;
}

.card1:hover, .card2:hover{
    transform: scale(1.1);
}



.card2{
    margin-right: 200px;
    height: 65vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #e0e0e0;
    padding: 30px;
    border-radius: 23px;
    gap: 1rem;
    transition: .5s ease;
    box-shadow: 17px 20px 12px #aaa;
}

img{
    height: 70vh;
}

